body {
    background-color: black;
    color : white;
    min-width: device-width;
    background-image: url('image4.jpg');
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans;
}

::selection {
    background-color: white;
    color: black;
}

p.typed::selection {
    background-color: gold;
    color: red;
}

span::selection {
    background-color: gold;
    color: red;
}

div.header {
    background-image: url('image4.jpg');
    display: flex;
    padding-left: 20px;
    flex-direction: row;
    gap: 3%;
    width: 98.5%;
    height: max-content;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0px;
    min-width: fit-content;
    border-bottom: 1px solid orange;
}

a {
    text-decoration: none;
    color:white;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
}

a:hover {
    text-decoration: underline;
}

div.name {
    display: grid;
    place-items: center;
    font-size: 50px;
    color: orange;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans;
    justify-content: center;
}

.typed {
    overflow: hidden;
    white-space: nowrap;
    width: 0;

    margin-bottom: 15px;

    border-right: 2px solid;
    animation: typing 1.5s steps(30, end) forwards, blinking 1s infinite;
}

@keyframes typing {
    from {width : 0}
    to {width : 100%}
}

@keyframes blinking {
    0% {border-right-color: transparent}
    50% {border-right-color: white}
    100% {border-right-color: transparent}
}

.buttons {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    height: 50px;
    width : 100px;
    border: 2px solid white;
    background-color: black;
    color: white;
    font-size: 20px;
}

.glr-button:hover {
    background-color: white;
    color: black;
}

.glr-button:active {
    background-color: black;
    color: white;
}

.name-footer {
    padding-bottom: 15px;
    font-size: 20px;
}

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.section > .text {
    font-size: 24px;
    padding: 2px 50px 2px 50px;
}

.contact-me {
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    grid-template-columns: 1fr ;
    gap: 10px;
}

.name-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.first-name > #fname {
    background-color: black;
    border: 2px solid orange;
    width: 95%;
    height: 50px;
    border-radius: 25px;
    padding-left: 20px;
    align-items: center;
}

.last-name > #lname {
    background-color: black;
    border: 2px solid orange;
    width: 95%;
    height: 50px;
    border-radius : 25px;
    padding-left: 20px;
    align-items : center;
}

.subject > input {
    width: 97.5%;
    height: 50px;

    border-radius : 25px;
    padding-left: 20px;
    align-items : center;

    background-color: black;
    border: 2px solid orange;
}

.message > textarea {
    width: 97.5%;
    height: 100%;
    justify-items: start;
    align-items: start;

    border-radius : 25px;
    padding-left: 20px;
    align-items : center;
    padding-top: 15px;

    background-color: black;
    border: 2px solid orange;
}

button#submit {
    margin-top: 25px;
    align-self: end;
    border-radius: 25px;

    border: 2px solid orange;
}

input, textarea {
    color: white;
    font-size: 24px;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans;
}

textarea:focus {
    outline: 2px solid lightgreen;
    border: none;
}

input:focus {
    border: none;
    outline: 2px solid lightgreen;
}

.first-name > #fname:focus {
    border: none;
}

.last-name > #lname:focus { 
    border: none;
}

button#submit:hover {
    border: 2px solid black;
    background-color: white;
    color: black;
}